
<%include partials/openheader.ejs%>

<%include partials/closeheader.ejs%>

<%include partials/navbarTemplate.ejs%>

<!--Maybe turn the welcome header text into a variable-->
<h1 id="welcome-header">Park City, UT</h1>

<!--When the time comes, listingGridTemplate needs to be fixed so that it will loop through
all the listings to create the grid (create photo-cards in a loop)-->
<%include partials/listingGridTemplate.ejs%>

<%include partials/footer.ejs%>