/****/
.com-container {
    padding-right: 15px;
    padding-left: 15px;
    width:50em;
    height:40em;
    margin-top: 10em;
    margin-right: auto;
    margin-bottom: 10em;
    margin-left: auto;
}

.com-img{
    background-size: contain;
    background-position: center;
    width:100%;
    border-radius:4px;
    background-color: #fff;
    border: 1px solid #ddd;
}