body {
   /* background-color: #8C8C8B;*/
    background-color: #F7F3EB;
}

#headerImage {
    width: 100%;
    height: 50rem;
    background-image: url(http://res.cloudinary.com/simpleview/image/upload/v1492455863/clients/parkcity/CB_Summer_Main_Street_Trolley_024e2ee4-fe7f-40ed-9a9f-98cb732ca017.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position-y: -100px;
}

.navbar {
    margin-bottom: 75px;
    background-color: #292929;
}

.navbar-form .form-control {
    width: 40em;
}

.row-stats, .listing-address {
    font-weight: 500;
    font-size: large;
    color: white;
    position: relative;
    text-align: center;
    width:100%;
    height: 3rem;
}

.row-stats-value {
    color: #FABD39;
    margin-left: .5em;
    font-weight: bolder;
}

#min-input {
    margin-left: .25rem;
}

#max-input {
    margin-right: .2rem;
}

input {
    width: 60px;
    padding: 4px 6px 2px;
}

#price-input {
    margin-top: 2px;
}

hr {
    margin-top: auto;
    margin-bottom: auto;
}

.dropdown-list {
    letter-spacing: .1em;
    width: 100%;
    text-align: center;
    line-height: 2em;
}

.btn-custom {
    color: #333;
    background-color: #FABD39;
    border-color: #FCAE05;
}

.price-container {
    min-width: 176px;
}

.bedroom-container {
    min-width: 73px;
}

.dropdown-list {
    letter-spacing: .1em;
    width: 100%;
    text-align: center;
    line-height: 2em;
}

.checkbox-format {
    letter-spacing: .1em;
    width: 100%;
    text-align: left;
}

.checkbox label {
    width: 100%;
    background-size: contain;
}

.form-control:focus{
    border-color: #FABD39;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(252, 175, 32, .6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(252, 175, 32, .6);
}

.grid-list{
    padding-bottom: 5em;
}