<!--These buttons are to be used to sort data that has been loaded to a page.  This template is found
on the results page and the listing page.-->
<div class="row grid-list">
    <div class="container">

        <div class="col-xs-6">

            <h2 id="related-listings-header">Related Listings%></h2>

        </div>

        <div class="col-xs-6">

            <div id="filter-btns">
                <!-- Filter button -->
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle btn-dropdown-filter drop-shadow "
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Filter <span class="caret"></span>
                    </button>

                    <ul class="dropdown-menu">
                        <li><a href="#">Price</a></li>
                        <li><a href="#">Square Ft</a></li>
                        <li><a href="#">Beds</a></li>
                    </ul>
                </div>

                <!-- Ascending/Descending button -->
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle btn-dropdown-filter drop-shadow "
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Ascending <span class="caret"></span>
                    </button>
                    
                    <ul class="dropdown-menu">
                        <li><a href="#">Ascending</a></li>
                        <li><a href="#">Descending</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>