<!--Checks if the listing is pending or active.  Depending on the status, a label is applied
to correspond with the status of the listing on the Listing Grid-->
<p class="status-label">
    <% if (listing['status'].match('Active')) { %>

        <span class="label label-for-sale">
            <%= listing['status'] %>
        </span>
    <% } else { %>

    <span class="label label-pending">
        <%= listing['status'] %>
    </span>
    <% } %>
</p>