<!--This header is used for every page-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>Reside Park City</title> <!--Make the title a variable for each page maybe-->
    <link rel="stylesheet" type="text/css" href="/lib/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/css/app.css">
